*.vrb
*.nav
*.snm
*.toc
*.lnk
*.zip
*.exc.tex
*.fls
*.sol.tex
*-exercise-body.tex
*.fdb_latexmk
*.log
*.out
*.synctex.gz
*-dot2tex-*
*.pdf
*.dvi
*.aux
*.pgf-plot.gnuplot
*.pgf-plot.table
_region_*
*~
*.~*#
.hidden
.predictive
auto
*.o
.#*
